*

!.gitignore
!data/
!data/*.csv

!CHANGELOG.md
!CONTRIBUTING.md
!LICENSE
!README.md
!datapackage.json

!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*.yml

!scripts/
!scripts/*.py
